.pagewidth {
    width: 1500px;
    margin: 0 auto;
}

#header {
    width: 1500px;
    margin: 0 auto;
}

#footer {
    width: 1600px;
    margin: 30px auto;
    background-color: #ecf0f1;
}

.panel-default {
    border-color: #95a5a6;
}
.panel-default > .panel-heading {
    color: #ffffff;
    background-color: #95a5a6;
    border-color: #95a5a6;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #95a5a6;
}
.panel-default > .panel-heading .badge {
    color: #95a5a6;
    background-color: #ffffff;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #95a5a6;
}